h1 {
    font-size:78px;
  }
  h2 {
    font-size:62px;
  }
  h3 {
    font-size:48px;
  }
  h4 {
    font-size:32px;
  }
  h5 {
    font-size:24px;
  }
  h6 {
    font-size:16px;
  }